h1,
h2,
p {
  color: white;
  margin: 10px;
}

h3 {
  color: white;
  margin-top: 10px;
}

form {
  display: flex;
  margin-left: 20px;
  align-items: flex-start;
  flex-direction: column;
}

label {
  color: white;
  margin-left: 15px;
  margin-bottom: 5px;
}

input {
  margin: 0px 10px 10px 10px;
}

a {
  margin: 10px;
  color: white;
}

a.nav-link:hover {
  background-color: rgb(50, 67, 6);
}

button {
  margin: 3px;
}

input[type="checkbox"] {
  margin-top: 6px;
  margin-right: 4px;
}

em {
  color: white;
  margin-left: 15px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.remember-me {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondary-actions {
  display: flex;
  flex-direction: row;
}
