:root {
  --primary-color: #198754;
  --text-color: white;
  --dark: #212529;
}

h1,
h2,
p {
  color: var(--text-color);
  margin: 10px;
}

h3,
h4 {
  color: var(--text-color);
  margin-top: 10px;
}

form {
  display: flex;
  margin-left: 20px;
  align-items: flex-start;
  flex-direction: column;
}

label {
  color: var(--text-color);
  margin-left: 15px;
  margin-bottom: 5px;
}

input {
  margin: 0px 10px 10px 10px;
}

a {
  margin: 10px;
  color: var(--text-color);
  text-decoration: none;
}

td a {
  text-decoration: underline;
}

a.nav-link:hover {
  background-color: var(--primary-color);
}

button {
  margin: 3px;
}

input[type="checkbox"] {
  margin-top: 6px;
  margin-right: 4px;
}

em {
  color: var(--text-color);
  margin-left: 15px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.remember-me {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondary-actions {
  display: flex;
  flex-direction: row;
}

.btn-group-etc {
  text-align: center;
}

.home-title {
  text-align: center;
}

.bottom-button-group {
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

.card.text-center {
  background-color: var(--dark);
}

.card.text-center h4,
h5 {
  color: var(--text-color);
}
