<div class="btn-group-etc" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-success"><%= link_to 'Max', max_path %></button>
  <button type="button" class="btn btn-outline-success">12 months</button>
  <button type="button" class="btn btn-outline-success">6 months</button>
  <button type="button" class="btn btn-outline-success">Year To Date</button>
  <button type="button" class="btn btn-outline-success"><%= link_to 'Current Month', expenses_path %></button>
</div>